@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: 228 26% 94%;
  --backgroundAccent: 228 26% 100%;
  --foreground: 72 11% 9%;
  --foregroundAccent: 0 0% 65%;

  --primary: 219 95% 63%;
  --primary-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
     --muted-foreground: 0 0% 45.1%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --input: 0 0% 89.8%;
}
.hover-text {
  @apply text-foregroundAccent hover:text-foreground cursor-pointer;
}
